<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doctor Login</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- My style sheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <div class="page">
    <div class="banner">
      <img class="medicalBanner" src="http://drakash.com.au/images/logo_obgyn.png" alt="">
      <!-- Home button -->
      <a href="/">
        <button class="homeBtn rightBanner" type="button" name="home"> <i class="fa fa-home" aria-hidden="true"></i> </button>
      </a>
    </div>
<br>
    <h3>Login</h3>
    <form action="/login" method="post">
      <input type="email" name="email" placeholder="Email">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <input class="inputBtn" type="submit" value="Login">
    </form>
    <br>

    <h3>Register</h3>
    <form action="/register" method="post">
      <input type="text" name="name" placeholder="Name">
      <br>
      <input type="email" name="email" placeholder="Email">
      <br>
      <input type="text" name="bio" placeholder="Bio">
      <br>
      <input type="text" name="img_url" placeholder="Img Url">
      <br>
      <input type="password" name="password" id="password" placeholder="Password">
      <br>
      <input type="password" placeholder="Confirm Password" id="confirm_password" required>
      <br>
      <input class="inputBtn" type="submit" value="Register">
    </form>
</div>
  </body>
</html>
<script type="text/javascript">

var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;

</script>
