<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doctor Login</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- My style sheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <h3>Login</h3>
    <br>
    <form action="/login" method="post">
      <input type="email" name="email" placeholder="Email">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <button type="submit">Login</button>
    </form>

    <h3>Register</h3>
    <br>
    <form action="/register" method="post">
      <input type="text" name="name" placeholder="Name">
      <br>
      <input type="email" name="email" placeholder="Email">
      <br>
      <input type="text" name="bio" placeholder="Bio">
      <br>
      <input type="text" name="img_url" placeholder="Img Url">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <input type="password" name="" placeholder="Verify Password">
      <br>
      <button type="submit">Register</button>
    </form>

  </body>
</html>
