<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body><a href="#">Doctor Login</a>

  <h1>Doctors Available</h1>
  <div class="drs">

    <% for(var i = 0; i<doctor.length; i++){ %>
      <div class="col-5 colBG">

        <h3 class=""> Dr. <%= doctor[i].name %></h3>

        <img src="<%= doctor[i].img_url %>" alt="doctor image">

        <!-- Book Btn -->
        <a href="">
          <button class="book" type="button" name="button">Book</button>
          </a>

        <% } %>

      </div>


</body>

</html>
